<!DOCTYPE html>
<html>

<head>
  <title>CampSite</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Lobster|Oswald&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/landing.css">
</head>

<body>
  <% include partials/flash %>
  <div class="tinted-image">
    <div class="header">
      <h2>Find your next</h2>
      <h1>CampSite</h1>
      <a href="/campgrounds" class="btn btn btn-outline-light">Explore Campsites</a>
    </div>
  </div>
  <% include partials/footer %>