<% include ../partials/header %>
<div class="container-fluid">
  <header class="row bg-dark">
    <div class="header text-center">
      <h1>Explore CampSites</h1>
      <p class="">View our hand-picked campsites from all over the world</p>
      <a href="/campgrounds/new" class="btn btn-outline-light">Add a new campsite</a>
    </div>
  </header>
  <div class="container">
    <section class="row mt-4">
      <% campgrounds.forEach(campground => { %>
      <div class="col-lg-4 col-md-6 my-2">
        <div class="card my-2 bg-light">
          <img src="<%= campground.image %>" class="card-img-top" />
          <div class="mt-2 mb-1">
            <h4 class="card-title text-center"><%= campground.name %></h4>
          </div>
          <p class="text-center">
            <a href="/campgrounds/<%= campground._id %>" class="btn btn-outline-primary">More Info</a>
          </p>
        </div>
      </div>
      <% }); %>
    </section>
  </div>
</div>
<% include ../partials/footer %>