<% include ../partials/header %> <% include ../partials/navbar %>

<div class="container">
  <header class="jumbotron mt-4">
    <div class="text-center justify-content-center">
      <h1 class="display-4">Welcome to CampFinder!</h1>
      <p class="lead">View our hand-picked campgrounds from all over the world</p>
      <p>
        <a href="/campgrounds/new" class="btn btn-outline-primary btn-large">Add New Campground</a>
      </p>
    </div>
  </header>

  <div class="row">
    <% campgrounds.forEach(campground => { %>
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <div class="card my-2">
        <img src="<%= campground.image %>" class="camp-thumbnail" />
        <div>
          <h4 class="card-title text-center"><%= campground.name %></h4>
        </div>
        <p class="text-center">
          <a href="/campgrounds/<%= campground._id %>" class="btn btn-outline-primary">More Info</a>
        </p>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<% include ../partials/footer %>